<%= form_for @actu  do |f| %>
<div class="row">
<div class="col-75">  
  <%= f.label :title %>
	<br>
<%= f.text_field :title %>
</div></div>
<div class="row">
<div class="col-75">  
 <%= f.label :pwd %>
	<br>
<%= f.password_field :pwd %>
</div></div>

<div class="row">
<div class="col-75">  
<%= f.label :content %>
<br>
  <%= f.text_area :content , :cols => 40, :rows => 5 %>
 <!--  <textarea cols="40" rows="40" name="content" id="content">
  </textarea> -->
</div></div>

<div class="row">
  <%= f.submit "Sauvegarder" %>
</div>
  <br><br>
<div class="way">
	<div class="classicB" id="myBtn">  
			Supprimer
	</div>
	<div class="classicB">
	  <%= link_to "Retour", actu_path, class: 'dark'%>
	</div>

</div>
<% end %>

<div id="myModal" class="modal">

  <!-- Modal content -->
    
  <div class="modal-content" style="position: fixed; margin-left: 5%; opacity: 1; text-align: center;margin-top: 15vh;box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
	">
    <span class="close">&times;</span><br><br>
<%= form_for(@actu, :html => { :method => :delete, :remote => true }) do |f| %>

<div class="row">
<div class="col-75">  
  <%= f.label :pwd %>
	<br><br>
<%= f.password_field :pwd %>
</div></div><br>
<div class="row">
<%= f.submit :value => "Confirmer" %>
  
</div>
<% end %>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
    map.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>