<!-- <h1>Actus#show</h1>
<p>Find me in app/views/actus/show.html.erb</p> -->
<div style="background: orange;"> 
	<div style="font-size: 18px; font-weight: bold; padding-top:  75px;padding-bottom: 15px;  text-align: center; width: 80%; margin: auto;color: black; text-decoration: none;"> 
	    <%= link_to "Hélène Actus", actus_path,class: 'dark'%>  <%= link_to new_actu_path do%>
		    <span style="float: right;"> <i class="fas fa-plus"></i></span>
	    <%end%>
	      
	</div >
		
	<div class="box" id="show">
	  <div class="displayBox">
	  	<div class="haut">
	        lets hope
	    </div>
			
		<div>
			test
		</div>
		<br>

		<div class="way">
			<div class="classicB"  id="myBtn">
				<%= link_to "Modifier", edit_actu_path%>
			</div>
			<div class="classicB">
				<%= link_to "Retour", actus_path%>
			</div>
		</div>    
	</div>
	 <%= render "pages/map"%>

	</div>
</div>

 <!-- 

<div id="myModal" class="modal">

	<div class="modal-content">	
		<%= ender pwdform %>
	</div>
</div> -->