<!DOCTYPE html>
<html>
  <head>
    <title>Hpicavez</title>
    <link rel="stylesheet" href="https://cdjns.cloudflare.com/ajaxlibs/font-awesome/4.7.0/css/font-awesome.min.csss">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= favicon_link_tag 'images/favicon.png' %>
  </head>

  <body>

    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer"%>

  </body>
</html>










<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- send a mail @  "contact@kleandre.lxa.li"   &#128521; -->
<!-- -->
<!-- -->
<!-- -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- lean madE -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->